Expertise/ExpertiseWPFApplication/Service References/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51335/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ExpertiseWCFService" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListAuthors">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListAuthorsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ExpertiseWCFService" minOccurs="0" name="GetListAuthorsResult" nillable="true" type="q1:ArrayOfAuthors" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListCatCrit">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListCatCritResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ExpertiseWCFService" minOccurs="0" name="GetListCatCritResult" nillable="true" type="q2:ArrayOfCatCrit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListCategories">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListCategoriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ExpertiseWCFService" minOccurs="0" name="GetListCategoriesResult" nillable="true" type="q3:ArrayOfCategories" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListCriterions">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListCriterionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ExpertiseWCFService" minOccurs="0" name="GetListCriterionsResult" nillable="true" type="q4:ArrayOfCriterions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListGRNTI">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListGRNTIResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ExpertiseWCFService" minOccurs="0" name="GetListGRNTIResult" nillable="true" type="q5:ArrayOfGRNTI" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListExperts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListExpertsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ExpertiseWCFService" minOccurs="0" name="GetListExpertsResult" nillable="true" type="q6:ArrayOfExperts" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListExpertsWithCountExpertise">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListExpertsWithCountExpertiseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ExpertiseWCFService" minOccurs="0" name="GetListExpertsWithCountExpertiseResult" nillable="true" type="q7:ArrayOfExpertsWithCountExpertise" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Gethello">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GethelloResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GethelloResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ExpertiseWCFService" minOccurs="0" name="composite" nillable="true" type="q8:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/ExpertiseWCFService" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q9:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>