Expertise/ExpertiseWPFApplication/Service References/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:51335/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:51335/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:51335/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ExpertiseWCFService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetListAuthors_InputMessage">
    <wsdl:part name="parameters" element="tns:GetListAuthors" />
  </wsdl:message>
  <wsdl:message name="IService1_GetListAuthors_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListAuthorsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetListCatCrit_InputMessage">
    <wsdl:part name="parameters" element="tns:GetListCatCrit" />
  </wsdl:message>
  <wsdl:message name="IService1_GetListCatCrit_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListCatCritResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetListCategories_InputMessage">
    <wsdl:part name="parameters" element="tns:GetListCategories" />
  </wsdl:message>
  <wsdl:message name="IService1_GetListCategories_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListCategoriesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetListCriterions_InputMessage">
    <wsdl:part name="parameters" element="tns:GetListCriterions" />
  </wsdl:message>
  <wsdl:message name="IService1_GetListCriterions_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListCriterionsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetListGRNTI_InputMessage">
    <wsdl:part name="parameters" element="tns:GetListGRNTI" />
  </wsdl:message>
  <wsdl:message name="IService1_GetListGRNTI_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListGRNTIResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetListExperts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetListExperts" />
  </wsdl:message>
  <wsdl:message name="IService1_GetListExperts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListExpertsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetListExpertsWithCountExpertise_InputMessage">
    <wsdl:part name="parameters" element="tns:GetListExpertsWithCountExpertise" />
  </wsdl:message>
  <wsdl:message name="IService1_GetListExpertsWithCountExpertise_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListExpertsWithCountExpertiseResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Gethello_InputMessage">
    <wsdl:part name="parameters" element="tns:Gethello" />
  </wsdl:message>
  <wsdl:message name="IService1_Gethello_OutputMessage">
    <wsdl:part name="parameters" element="tns:GethelloResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetData" message="tns:IService1_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataResponse" message="tns:IService1_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetListAuthors">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetListAuthors" message="tns:IService1_GetListAuthors_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetListAuthorsResponse" message="tns:IService1_GetListAuthors_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetListCatCrit">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetListCatCrit" message="tns:IService1_GetListCatCrit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetListCatCritResponse" message="tns:IService1_GetListCatCrit_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetListCategories">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetListCategories" message="tns:IService1_GetListCategories_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetListCategoriesResponse" message="tns:IService1_GetListCategories_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetListCriterions">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetListCriterions" message="tns:IService1_GetListCriterions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetListCriterionsResponse" message="tns:IService1_GetListCriterions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetListGRNTI">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetListGRNTI" message="tns:IService1_GetListGRNTI_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetListGRNTIResponse" message="tns:IService1_GetListGRNTI_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetListExperts">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetListExperts" message="tns:IService1_GetListExperts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetListExpertsResponse" message="tns:IService1_GetListExperts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetListExpertsWithCountExpertise">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetListExpertsWithCountExpertise" message="tns:IService1_GetListExpertsWithCountExpertise_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetListExpertsWithCountExpertiseResponse" message="tns:IService1_GetListExpertsWithCountExpertise_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Gethello">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Gethello" message="tns:IService1_Gethello_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GethelloResponse" message="tns:IService1_Gethello_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContract" message="tns:IService1_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContractResponse" message="tns:IService1_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListAuthors">
      <soap:operation soapAction="http://tempuri.org/IService1/GetListAuthors" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListCatCrit">
      <soap:operation soapAction="http://tempuri.org/IService1/GetListCatCrit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListCategories">
      <soap:operation soapAction="http://tempuri.org/IService1/GetListCategories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListCriterions">
      <soap:operation soapAction="http://tempuri.org/IService1/GetListCriterions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListGRNTI">
      <soap:operation soapAction="http://tempuri.org/IService1/GetListGRNTI" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListExperts">
      <soap:operation soapAction="http://tempuri.org/IService1/GetListExperts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListExpertsWithCountExpertise">
      <soap:operation soapAction="http://tempuri.org/IService1/GetListExpertsWithCountExpertise" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Gethello">
      <soap:operation soapAction="http://tempuri.org/IService1/Gethello" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:51335/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>