Expertise/ExpertiseWPFApplication/Service References/ServiceReference1/Service13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51335/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ExpertiseWCFService" />
  <xs:import schemaLocation="http://localhost:51335/Service1.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListAuthors">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListAuthorsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ExpertiseWCFService" minOccurs="0" name="GetListAuthorsResult" nillable="true" type="q1:ArrayOfmyAuthors" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListCatCrit">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListCatCritResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ExpertiseWCFService" minOccurs="0" name="GetListCatCritResult" nillable="true" type="q2:ArrayOfCatCrit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListCategories">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListCategoriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ExpertiseWCFService" minOccurs="0" name="GetListCategoriesResult" nillable="true" type="q3:ArrayOfCategories" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListCriterions">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListCriterionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ExpertiseWCFService" minOccurs="0" name="GetListCriterionsResult" nillable="true" type="q4:ArrayOfCriterions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListGRNTI">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListGRNTIResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ExpertiseWCFService" minOccurs="0" name="GetListGRNTIResult" nillable="true" type="q5:ArrayOfGRNTI" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListExperts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListExpertsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ExpertiseWCFService" minOccurs="0" name="GetListExpertsResult" nillable="true" type="q6:ArrayOfExperts" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListExpertsWithCountExpertise">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListExpertsWithCountExpertiseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ExpertiseWCFService" minOccurs="0" name="GetListExpertsWithCountExpertiseResult" nillable="true" type="q7:ArrayOfExpertsWithCountExpertise" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListFOS">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListFOSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ExpertiseWCFService" minOccurs="0" name="GetListFOSResult" nillable="true" type="q8:ArrayOfFiledsOfScience" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListProjects">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListProjectsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/ExpertiseWCFService" minOccurs="0" name="GetListProjectsResult" nillable="true" type="q9:ArrayOfmyProject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="test">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="testResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/ExpertiseWCFService" minOccurs="0" name="testResult" nillable="true" type="q10:ArrayOfFiledsOfScience" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="test2">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="test2Response">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateExpertCard">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_expert" type="xs:int" />
        <xs:element minOccurs="0" name="surname_expert" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="name_expert" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="patronymic_expert" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="job_expert" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="post_expert" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="degree_expert" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="rank_expert" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="delete_expert" type="xs:boolean" />
        <xs:element minOccurs="0" name="contacts_expert" nillable="true" type="xs:string" />
        <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ListFOS" nillable="true" type="q11:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateExpertCardResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Expertise_Expert">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_expert" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Expertise_ExpertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/ExpertiseWCFService" minOccurs="0" name="Expertise_ExpertResult" nillable="true" type="q12:ArrayOfExpertise_Expert" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddProjects">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name_project" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lead_project" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="grnti_project" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="begin_project" type="xs:dateTime" />
        <xs:element minOccurs="0" name="end_project" type="xs:dateTime" />
        <xs:element minOccurs="0" name="money_project" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email_project" nillable="true" type="xs:string" />
        <xs:element xmlns:q13="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="listauthor" nillable="true" type="q13:ArrayOfint" />
        <xs:element minOccurs="0" name="fos" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddProjectsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddProjectsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAuthors">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="surname_author" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="name_author" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="patronymic_author" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAuthorsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddAuthorsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Gethello">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GethelloResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GethelloResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/ExpertiseWCFService" minOccurs="0" name="composite" nillable="true" type="q14:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/ExpertiseWCFService" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q15:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>