Expertise/ExpertiseWPFApplication/Service References/ServiceReference1/Service13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51335/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ExpertiseWCFService" />
  <xs:import schemaLocation="http://localhost:51335/Service1.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListAuthors">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListAuthorsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ExpertiseWCFService" minOccurs="0" name="GetListAuthorsResult" nillable="true" type="q1:ArrayOfmyAuthors" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListAuthorsForProject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_project" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListAuthorsForProjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ExpertiseWCFService" minOccurs="0" name="GetListAuthorsForProjectResult" nillable="true" type="q2:ArrayOfmyAuthors" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListExpertForProject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_project" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListExpertForProjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ExpertiseWCFService" minOccurs="0" name="GetListExpertForProjectResult" nillable="true" type="q3:ArrayOfExperts" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListCatCrit">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListCatCritResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ExpertiseWCFService" minOccurs="0" name="GetListCatCritResult" nillable="true" type="q4:ArrayOfCatCrit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListCategories">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListCategoriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ExpertiseWCFService" minOccurs="0" name="GetListCategoriesResult" nillable="true" type="q5:ArrayOfCategories" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListCriterions">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_category" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListCriterionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ExpertiseWCFService" minOccurs="0" name="GetListCriterionsResult" nillable="true" type="q6:ArrayOfCriterions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListCritValues">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_crit" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListCritValuesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ExpertiseWCFService" minOccurs="0" name="GetListCritValuesResult" nillable="true" type="q7:ArrayOfCritValues" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListGRNTI">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListGRNTIResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ExpertiseWCFService" minOccurs="0" name="GetListGRNTIResult" nillable="true" type="q8:ArrayOfGRNTI" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListExperts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListExpertsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/ExpertiseWCFService" minOccurs="0" name="GetListExpertsResult" nillable="true" type="q9:ArrayOfExperts" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListExpertsWithCountExpertise">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListExpertsWithCountExpertiseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/ExpertiseWCFService" minOccurs="0" name="GetListExpertsWithCountExpertiseResult" nillable="true" type="q10:ArrayOfExpertsWithCountExpertise" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListFOS">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListFOSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/ExpertiseWCFService" minOccurs="0" name="GetListFOSResult" nillable="true" type="q11:ArrayOfFiledsOfScience" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListProjects">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListProjectsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/ExpertiseWCFService" minOccurs="0" name="GetListProjectsResult" nillable="true" type="q12:ArrayOfmyProject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListProjectFos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListProjectFosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/ExpertiseWCFService" minOccurs="0" name="GetListProjectFosResult" nillable="true" type="q13:ArrayOfProjectFos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListExpertisesForExpert">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_expert" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListExpertisesForExpertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/ExpertiseWCFService" minOccurs="0" name="GetListExpertisesForExpertResult" nillable="true" type="q14:ArrayOfExpertises" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListAllAuthors">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListAllAuthorsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/ExpertiseWCFService" minOccurs="0" name="GetListAllAuthorsResult" nillable="true" type="q15:ArrayOfAuthors" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListAllCatCrit">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListAllCatCritResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/ExpertiseWCFService" minOccurs="0" name="GetListAllCatCritResult" nillable="true" type="q16:ArrayOfCatCrit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListAllCategories">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListAllCategoriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/ExpertiseWCFService" minOccurs="0" name="GetListAllCategoriesResult" nillable="true" type="q17:ArrayOfCategories" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListAllCriterions">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListAllCriterionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/ExpertiseWCFService" minOccurs="0" name="GetListAllCriterionsResult" nillable="true" type="q18:ArrayOfCriterions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListAllCritValues">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListAllCritValuesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/ExpertiseWCFService" minOccurs="0" name="GetListAllCritValuesResult" nillable="true" type="q19:ArrayOfCritValues" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListAllExpCrit">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListAllExpCritResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/ExpertiseWCFService" minOccurs="0" name="GetListAllExpCritResult" nillable="true" type="q20:ArrayOfExpCrit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListAllExpertFos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListAllExpertFosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/ExpertiseWCFService" minOccurs="0" name="GetListAllExpertFosResult" nillable="true" type="q21:ArrayOfExpertFos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListAllExpertiseMark">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListAllExpertiseMarkResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/ExpertiseWCFService" minOccurs="0" name="GetListAllExpertiseMarkResult" nillable="true" type="q22:ArrayOfExpertiseMark" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListAllExpertises">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListAllExpertisesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/ExpertiseWCFService" minOccurs="0" name="GetListAllExpertisesResult" nillable="true" type="q23:ArrayOfExpertises" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListAllExperts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListAllExpertsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/ExpertiseWCFService" minOccurs="0" name="GetListAllExpertsResult" nillable="true" type="q24:ArrayOfExperts" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListAllFiledsOfScience">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListAllFiledsOfScienceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/ExpertiseWCFService" minOccurs="0" name="GetListAllFiledsOfScienceResult" nillable="true" type="q25:ArrayOfFiledsOfScience" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListAllGRNTI">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListAllGRNTIResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/ExpertiseWCFService" minOccurs="0" name="GetListAllGRNTIResult" nillable="true" type="q26:ArrayOfGRNTI" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListAllMarks">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListAllMarksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/ExpertiseWCFService" minOccurs="0" name="GetListAllMarksResult" nillable="true" type="q27:ArrayOfMarks" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListAllProjectAuthors">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListAllProjectAuthorsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/ExpertiseWCFService" minOccurs="0" name="GetListAllProjectAuthorsResult" nillable="true" type="q28:ArrayOfProjectAuthors" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListAllProjectExpertise">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListAllProjectExpertiseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/ExpertiseWCFService" minOccurs="0" name="GetListAllProjectExpertiseResult" nillable="true" type="q29:ArrayOfProjectExpertise" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListAllProjectFos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListAllProjectFosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/ExpertiseWCFService" minOccurs="0" name="GetListAllProjectFosResult" nillable="true" type="q30:ArrayOfProjectFos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListAllProjects">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListAllProjectsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/ExpertiseWCFService" minOccurs="0" name="GetListAllProjectsResult" nillable="true" type="q31:ArrayOfProjects" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewAuthors">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="surname_author" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="name_author" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="patronymic_author" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewAuthorsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddNewAuthorsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewCatCrit">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_cat" type="xs:int" />
        <xs:element minOccurs="0" name="id_crit" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewCatCritResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddNewCatCritResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewCategories">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name_category" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewCategoriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddNewCategoriesResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewCriterions">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name_crit" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="qualit_crit" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewCriterionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddNewCriterionsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewCritValues">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_crit" type="xs:int" />
        <xs:element minOccurs="0" name="valid_values" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewCritValuesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddNewCritValuesResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewExpCrit">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_exp" type="xs:int" />
        <xs:element minOccurs="0" name="id_crit" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewExpCritResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddNewExpCritResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewExpertFos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_expert" type="xs:int" />
        <xs:element minOccurs="0" name="id_fos" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewExpertFosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddNewExpertFosResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewExpertiseExpert">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_expertise" type="xs:int" />
        <xs:element minOccurs="0" name="id_expert" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewExpertiseExpertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddNewExpertiseExpertResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewExpertiseMark">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_expertise" type="xs:int" />
        <xs:element minOccurs="0" name="id_mark" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewExpertiseMarkResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddNewExpertiseMarkResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewExpertises">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name_expertise" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="date_expertise" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewExpertisesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddNewExpertisesResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewExperts">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="surname_expert" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="name_expert" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="patronymic_expert" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="job_expert" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="post_expert" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="degree_expert" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="rank_expert" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contacts_expert" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewExpertsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddNewExpertsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewFiledsOfScience">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name_fos" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewFiledsOfScienceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddNewFiledsOfScienceResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewGRNTI">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name_grnti" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewGRNTIResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddNewGRNTIResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewMarks">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_expert" type="xs:int" />
        <xs:element minOccurs="0" name="id_crit" type="xs:int" />
        <xs:element minOccurs="0" name="id_project" type="xs:int" />
        <xs:element minOccurs="0" name="rating" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewMarksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddNewMarksResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewProjectAuthors">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_proj" type="xs:int" />
        <xs:element minOccurs="0" name="id_author" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewProjectAuthorsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddNewProjectAuthorsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewProjectExpertise">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_expertise" type="xs:int" />
        <xs:element minOccurs="0" name="id_project" type="xs:int" />
        <xs:element minOccurs="0" name="accept" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewProjectExpertiseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddNewProjectExpertiseResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewProjectFos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_project" type="xs:int" />
        <xs:element minOccurs="0" name="id_fos" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewProjectFosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddNewProjectFosResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewProjects">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name_project" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lead_project" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="grnti_project" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="begin_project" type="xs:dateTime" />
        <xs:element minOccurs="0" name="end_project" type="xs:dateTime" />
        <xs:element minOccurs="0" name="money_project" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email_project" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewProjectsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddNewProjectsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNewExpertise">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name_expertise" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="date_expertise" type="xs:dateTime" />
        <xs:element minOccurs="0" name="id_fos" type="xs:int" />
        <xs:element minOccurs="0" name="count_proj_expertise" type="xs:int" />
        <xs:element xmlns:q32="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="projectsId" nillable="true" type="q32:ArrayOfint" />
        <xs:element xmlns:q33="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="critsId" nillable="true" type="q33:ArrayOfint" />
        <xs:element xmlns:q34="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="expertsId" nillable="true" type="q34:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNewExpertiseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateNewExpertiseResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTablesForExpertise">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTablesForExpertiseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/ExpertiseWCFService" minOccurs="0" name="GetTablesForExpertiseResult" nillable="true" type="q35:TablesForExpertise" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListRaitingForExpertise">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_project" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListRaitingForExpertiseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/ExpertiseWCFService" minOccurs="0" name="GetListRaitingForExpertiseResult" nillable="true" type="q36:ArrayOfmyRaitinfExpert" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="test">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="testResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/ExpertiseWCFService" minOccurs="0" name="testResult" nillable="true" type="q37:ArrayOfProjectExpertise" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="test2">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="test2Response">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateExpertCard">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_expert" type="xs:int" />
        <xs:element minOccurs="0" name="surname_expert" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="name_expert" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="patronymic_expert" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="job_expert" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="post_expert" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="degree_expert" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="rank_expert" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="delete_expert" type="xs:boolean" />
        <xs:element minOccurs="0" name="contacts_expert" nillable="true" type="xs:string" />
        <xs:element xmlns:q38="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ListFOS" nillable="true" type="q38:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateExpertCardResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditCriterions">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_crit" type="xs:int" />
        <xs:element minOccurs="0" name="name_crit" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="qualit_crit" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditCriterionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditCriterionsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditCritValues">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_value" type="xs:int" />
        <xs:element minOccurs="0" name="id_crit" type="xs:int" />
        <xs:element minOccurs="0" name="valid_values" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditCritValuesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditCritValuesResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditFiledsOfScience">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_fos" type="xs:int" />
        <xs:element minOccurs="0" name="name_fos" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditFiledsOfScienceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditFiledsOfScienceResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditProject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_project" type="xs:int" />
        <xs:element minOccurs="0" name="name_project" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lead_project" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="grnti_project" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="begin_project" type="xs:dateTime" />
        <xs:element minOccurs="0" name="end_project" type="xs:dateTime" />
        <xs:element minOccurs="0" name="money_project" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email_project" nillable="true" type="xs:string" />
        <xs:element xmlns:q39="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="listauthor" nillable="true" type="q39:ArrayOfint" />
        <xs:element minOccurs="0" name="fos" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditProjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditProjectResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Expertise_Expert">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_expert" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Expertise_ExpertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/ExpertiseWCFService" minOccurs="0" name="Expertise_ExpertResult" nillable="true" type="q40:ArrayOfExpertise_Expert" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddProjects">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name_project" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lead_project" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="grnti_project" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="begin_project" type="xs:dateTime" />
        <xs:element minOccurs="0" name="end_project" type="xs:dateTime" />
        <xs:element minOccurs="0" name="money_project" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email_project" nillable="true" type="xs:string" />
        <xs:element xmlns:q41="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="listauthor" nillable="true" type="q41:ArrayOfint" />
        <xs:element minOccurs="0" name="fos" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddProjectsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddProjectsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAuthors">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="surname_author" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="name_author" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="patronymic_author" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAuthorsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddAuthorsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCategories">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name_category" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCategoriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddCategoriesResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddExpertises">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name_expertise" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="date_expertise" type="xs:dateTime" />
        <xs:element xmlns:q42="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="arrExperts" nillable="true" type="q42:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddExpertisesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddExpertisesResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteExpert">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_expert" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteExpertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteExpertResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_project" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteProjectResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddExpert">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="surname_expert" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="name_expert" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="patronymic_expert" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="job_expert" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="post_expert" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="degree_expert" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="rank_expert" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contacts_expert" nillable="true" type="xs:string" />
        <xs:element xmlns:q43="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ListFOS" nillable="true" type="q43:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddExpertResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddExpert_new">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="surname_expert" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="name_expert" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="patronymic_expert" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="job_expert" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="post_expert" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="degree_expert" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="rank_expert" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contacts_expert" nillable="true" type="xs:string" />
        <xs:element xmlns:q44="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ListFOS" nillable="true" type="q44:ArrayOfint" />
        <xs:element minOccurs="0" name="login_expert" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password_expert" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddExpert_newResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCriterions">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name_crit" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="qualit_crit" type="xs:boolean" />
        <xs:element minOccurs="0" name="valid_values" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="id_category" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCriterionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddCriterionsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddFiledsOfScience">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name_fos" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddFiledsOfScienceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddFiledsOfScienceResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Authorization">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Login" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthorizationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/ExpertiseWCFService" minOccurs="0" name="AuthorizationResult" nillable="true" type="q45:Experts" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Gethello">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GethelloResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GethelloResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/ExpertiseWCFService" minOccurs="0" name="composite" nillable="true" type="q46:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/ExpertiseWCFService" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q47:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>