Expertise/ExpertiseWPFApplication/Service References/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:51335/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:51335/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:51335/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ExpertiseWCFService" />
      <xsd:import schemaLocation="http://localhost:51335/Service1.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetListAuthors_InputMessage">
    <wsdl:part name="parameters" element="tns:GetListAuthors" />
  </wsdl:message>
  <wsdl:message name="IService1_GetListAuthors_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListAuthorsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetListCatCrit_InputMessage">
    <wsdl:part name="parameters" element="tns:GetListCatCrit" />
  </wsdl:message>
  <wsdl:message name="IService1_GetListCatCrit_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListCatCritResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetListCategories_InputMessage">
    <wsdl:part name="parameters" element="tns:GetListCategories" />
  </wsdl:message>
  <wsdl:message name="IService1_GetListCategories_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListCategoriesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetListCriterions_InputMessage">
    <wsdl:part name="parameters" element="tns:GetListCriterions" />
  </wsdl:message>
  <wsdl:message name="IService1_GetListCriterions_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListCriterionsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetListCritValues_InputMessage">
    <wsdl:part name="parameters" element="tns:GetListCritValues" />
  </wsdl:message>
  <wsdl:message name="IService1_GetListCritValues_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListCritValuesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetListGRNTI_InputMessage">
    <wsdl:part name="parameters" element="tns:GetListGRNTI" />
  </wsdl:message>
  <wsdl:message name="IService1_GetListGRNTI_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListGRNTIResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetListExperts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetListExperts" />
  </wsdl:message>
  <wsdl:message name="IService1_GetListExperts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListExpertsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetListExpertsWithCountExpertise_InputMessage">
    <wsdl:part name="parameters" element="tns:GetListExpertsWithCountExpertise" />
  </wsdl:message>
  <wsdl:message name="IService1_GetListExpertsWithCountExpertise_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListExpertsWithCountExpertiseResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetListFOS_InputMessage">
    <wsdl:part name="parameters" element="tns:GetListFOS" />
  </wsdl:message>
  <wsdl:message name="IService1_GetListFOS_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListFOSResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetListProjects_InputMessage">
    <wsdl:part name="parameters" element="tns:GetListProjects" />
  </wsdl:message>
  <wsdl:message name="IService1_GetListProjects_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListProjectsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetListExpertisesForExpert_InputMessage">
    <wsdl:part name="parameters" element="tns:GetListExpertisesForExpert" />
  </wsdl:message>
  <wsdl:message name="IService1_GetListExpertisesForExpert_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListExpertisesForExpertResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_test_InputMessage">
    <wsdl:part name="parameters" element="tns:test" />
  </wsdl:message>
  <wsdl:message name="IService1_test_OutputMessage">
    <wsdl:part name="parameters" element="tns:testResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_test2_InputMessage">
    <wsdl:part name="parameters" element="tns:test2" />
  </wsdl:message>
  <wsdl:message name="IService1_test2_OutputMessage">
    <wsdl:part name="parameters" element="tns:test2Response" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateExpertCard_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateExpertCard" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateExpertCard_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateExpertCardResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_EditCriterions_InputMessage">
    <wsdl:part name="parameters" element="tns:EditCriterions" />
  </wsdl:message>
  <wsdl:message name="IService1_EditCriterions_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditCriterionsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_EditCritValues_InputMessage">
    <wsdl:part name="parameters" element="tns:EditCritValues" />
  </wsdl:message>
  <wsdl:message name="IService1_EditCritValues_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditCritValuesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_EditFiledsOfScience_InputMessage">
    <wsdl:part name="parameters" element="tns:EditFiledsOfScience" />
  </wsdl:message>
  <wsdl:message name="IService1_EditFiledsOfScience_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditFiledsOfScienceResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Expertise_Expert_InputMessage">
    <wsdl:part name="parameters" element="tns:Expertise_Expert" />
  </wsdl:message>
  <wsdl:message name="IService1_Expertise_Expert_OutputMessage">
    <wsdl:part name="parameters" element="tns:Expertise_ExpertResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddProjects_InputMessage">
    <wsdl:part name="parameters" element="tns:AddProjects" />
  </wsdl:message>
  <wsdl:message name="IService1_AddProjects_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddProjectsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddAuthors_InputMessage">
    <wsdl:part name="parameters" element="tns:AddAuthors" />
  </wsdl:message>
  <wsdl:message name="IService1_AddAuthors_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddAuthorsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddCategories_InputMessage">
    <wsdl:part name="parameters" element="tns:AddCategories" />
  </wsdl:message>
  <wsdl:message name="IService1_AddCategories_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddCategoriesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddExpertises_InputMessage">
    <wsdl:part name="parameters" element="tns:AddExpertises" />
  </wsdl:message>
  <wsdl:message name="IService1_AddExpertises_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddExpertisesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteExpert_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteExpert" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteExpert_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteExpertResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddExpert_InputMessage">
    <wsdl:part name="parameters" element="tns:AddExpert" />
  </wsdl:message>
  <wsdl:message name="IService1_AddExpert_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddExpertResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddExpert_new_InputMessage">
    <wsdl:part name="parameters" element="tns:AddExpert_new" />
  </wsdl:message>
  <wsdl:message name="IService1_AddExpert_new_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddExpert_newResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddCriterions_InputMessage">
    <wsdl:part name="parameters" element="tns:AddCriterions" />
  </wsdl:message>
  <wsdl:message name="IService1_AddCriterions_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddCriterionsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddFiledsOfScience_InputMessage">
    <wsdl:part name="parameters" element="tns:AddFiledsOfScience" />
  </wsdl:message>
  <wsdl:message name="IService1_AddFiledsOfScience_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddFiledsOfScienceResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Authorization_InputMessage">
    <wsdl:part name="parameters" element="tns:Authorization" />
  </wsdl:message>
  <wsdl:message name="IService1_Authorization_OutputMessage">
    <wsdl:part name="parameters" element="tns:AuthorizationResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Gethello_InputMessage">
    <wsdl:part name="parameters" element="tns:Gethello" />
  </wsdl:message>
  <wsdl:message name="IService1_Gethello_OutputMessage">
    <wsdl:part name="parameters" element="tns:GethelloResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetData" message="tns:IService1_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataResponse" message="tns:IService1_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetListAuthors">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetListAuthors" message="tns:IService1_GetListAuthors_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetListAuthorsResponse" message="tns:IService1_GetListAuthors_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetListCatCrit">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetListCatCrit" message="tns:IService1_GetListCatCrit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetListCatCritResponse" message="tns:IService1_GetListCatCrit_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetListCategories">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetListCategories" message="tns:IService1_GetListCategories_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetListCategoriesResponse" message="tns:IService1_GetListCategories_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetListCriterions">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetListCriterions" message="tns:IService1_GetListCriterions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetListCriterionsResponse" message="tns:IService1_GetListCriterions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetListCritValues">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetListCritValues" message="tns:IService1_GetListCritValues_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetListCritValuesResponse" message="tns:IService1_GetListCritValues_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetListGRNTI">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetListGRNTI" message="tns:IService1_GetListGRNTI_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetListGRNTIResponse" message="tns:IService1_GetListGRNTI_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetListExperts">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetListExperts" message="tns:IService1_GetListExperts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetListExpertsResponse" message="tns:IService1_GetListExperts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetListExpertsWithCountExpertise">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetListExpertsWithCountExpertise" message="tns:IService1_GetListExpertsWithCountExpertise_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetListExpertsWithCountExpertiseResponse" message="tns:IService1_GetListExpertsWithCountExpertise_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetListFOS">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetListFOS" message="tns:IService1_GetListFOS_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetListFOSResponse" message="tns:IService1_GetListFOS_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetListProjects">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetListProjects" message="tns:IService1_GetListProjects_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetListProjectsResponse" message="tns:IService1_GetListProjects_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetListExpertisesForExpert">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetListExpertisesForExpert" message="tns:IService1_GetListExpertisesForExpert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetListExpertisesForExpertResponse" message="tns:IService1_GetListExpertisesForExpert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="test">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/test" message="tns:IService1_test_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/testResponse" message="tns:IService1_test_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="test2">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/test2" message="tns:IService1_test2_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/test2Response" message="tns:IService1_test2_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateExpertCard">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UpdateExpertCard" message="tns:IService1_UpdateExpertCard_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdateExpertCardResponse" message="tns:IService1_UpdateExpertCard_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditCriterions">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/EditCriterions" message="tns:IService1_EditCriterions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/EditCriterionsResponse" message="tns:IService1_EditCriterions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditCritValues">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/EditCritValues" message="tns:IService1_EditCritValues_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/EditCritValuesResponse" message="tns:IService1_EditCritValues_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditFiledsOfScience">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/EditFiledsOfScience" message="tns:IService1_EditFiledsOfScience_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/EditFiledsOfScienceResponse" message="tns:IService1_EditFiledsOfScience_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Expertise_Expert">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Expertise_Expert" message="tns:IService1_Expertise_Expert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/Expertise_ExpertResponse" message="tns:IService1_Expertise_Expert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddProjects">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddProjects" message="tns:IService1_AddProjects_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddProjectsResponse" message="tns:IService1_AddProjects_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddAuthors">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddAuthors" message="tns:IService1_AddAuthors_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddAuthorsResponse" message="tns:IService1_AddAuthors_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddCategories">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddCategories" message="tns:IService1_AddCategories_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddCategoriesResponse" message="tns:IService1_AddCategories_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddExpertises">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddExpertises" message="tns:IService1_AddExpertises_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddExpertisesResponse" message="tns:IService1_AddExpertises_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteExpert">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteExpert" message="tns:IService1_DeleteExpert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteExpertResponse" message="tns:IService1_DeleteExpert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddExpert">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddExpert" message="tns:IService1_AddExpert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddExpertResponse" message="tns:IService1_AddExpert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddExpert_new">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddExpert_new" message="tns:IService1_AddExpert_new_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddExpert_newResponse" message="tns:IService1_AddExpert_new_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddCriterions">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddCriterions" message="tns:IService1_AddCriterions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddCriterionsResponse" message="tns:IService1_AddCriterions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddFiledsOfScience">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddFiledsOfScience" message="tns:IService1_AddFiledsOfScience_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddFiledsOfScienceResponse" message="tns:IService1_AddFiledsOfScience_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Authorization">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Authorization" message="tns:IService1_Authorization_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AuthorizationResponse" message="tns:IService1_Authorization_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Gethello">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Gethello" message="tns:IService1_Gethello_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GethelloResponse" message="tns:IService1_Gethello_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContract" message="tns:IService1_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContractResponse" message="tns:IService1_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListAuthors">
      <soap:operation soapAction="http://tempuri.org/IService1/GetListAuthors" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListCatCrit">
      <soap:operation soapAction="http://tempuri.org/IService1/GetListCatCrit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListCategories">
      <soap:operation soapAction="http://tempuri.org/IService1/GetListCategories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListCriterions">
      <soap:operation soapAction="http://tempuri.org/IService1/GetListCriterions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListCritValues">
      <soap:operation soapAction="http://tempuri.org/IService1/GetListCritValues" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListGRNTI">
      <soap:operation soapAction="http://tempuri.org/IService1/GetListGRNTI" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListExperts">
      <soap:operation soapAction="http://tempuri.org/IService1/GetListExperts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListExpertsWithCountExpertise">
      <soap:operation soapAction="http://tempuri.org/IService1/GetListExpertsWithCountExpertise" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListFOS">
      <soap:operation soapAction="http://tempuri.org/IService1/GetListFOS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListProjects">
      <soap:operation soapAction="http://tempuri.org/IService1/GetListProjects" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListExpertisesForExpert">
      <soap:operation soapAction="http://tempuri.org/IService1/GetListExpertisesForExpert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="test">
      <soap:operation soapAction="http://tempuri.org/IService1/test" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="test2">
      <soap:operation soapAction="http://tempuri.org/IService1/test2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateExpertCard">
      <soap:operation soapAction="http://tempuri.org/IService1/UpdateExpertCard" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditCriterions">
      <soap:operation soapAction="http://tempuri.org/IService1/EditCriterions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditCritValues">
      <soap:operation soapAction="http://tempuri.org/IService1/EditCritValues" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditFiledsOfScience">
      <soap:operation soapAction="http://tempuri.org/IService1/EditFiledsOfScience" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Expertise_Expert">
      <soap:operation soapAction="http://tempuri.org/IService1/Expertise_Expert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddProjects">
      <soap:operation soapAction="http://tempuri.org/IService1/AddProjects" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAuthors">
      <soap:operation soapAction="http://tempuri.org/IService1/AddAuthors" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCategories">
      <soap:operation soapAction="http://tempuri.org/IService1/AddCategories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddExpertises">
      <soap:operation soapAction="http://tempuri.org/IService1/AddExpertises" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteExpert">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteExpert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddExpert">
      <soap:operation soapAction="http://tempuri.org/IService1/AddExpert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddExpert_new">
      <soap:operation soapAction="http://tempuri.org/IService1/AddExpert_new" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCriterions">
      <soap:operation soapAction="http://tempuri.org/IService1/AddCriterions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddFiledsOfScience">
      <soap:operation soapAction="http://tempuri.org/IService1/AddFiledsOfScience" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Authorization">
      <soap:operation soapAction="http://tempuri.org/IService1/Authorization" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Gethello">
      <soap:operation soapAction="http://tempuri.org/IService1/Gethello" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:51335/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>