Expertise/ExpertiseWPFApplication/Service References/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:51335/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:51335/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:51335/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ExpertiseWCFService" />
      <xsd:import schemaLocation="http://localhost:51335/Service1.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetListAuthors_InputMessage">
    <wsdl:part name="parameters" element="tns:GetListAuthors" />
  </wsdl:message>
  <wsdl:message name="IService1_GetListAuthors_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListAuthorsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetListAuthorsForProject_InputMessage">
    <wsdl:part name="parameters" element="tns:GetListAuthorsForProject" />
  </wsdl:message>
  <wsdl:message name="IService1_GetListAuthorsForProject_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListAuthorsForProjectResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetListExpertForProject_InputMessage">
    <wsdl:part name="parameters" element="tns:GetListExpertForProject" />
  </wsdl:message>
  <wsdl:message name="IService1_GetListExpertForProject_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListExpertForProjectResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetListCatCrit_InputMessage">
    <wsdl:part name="parameters" element="tns:GetListCatCrit" />
  </wsdl:message>
  <wsdl:message name="IService1_GetListCatCrit_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListCatCritResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetListCategories_InputMessage">
    <wsdl:part name="parameters" element="tns:GetListCategories" />
  </wsdl:message>
  <wsdl:message name="IService1_GetListCategories_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListCategoriesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetListCriterions_InputMessage">
    <wsdl:part name="parameters" element="tns:GetListCriterions" />
  </wsdl:message>
  <wsdl:message name="IService1_GetListCriterions_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListCriterionsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetListCritValues_InputMessage">
    <wsdl:part name="parameters" element="tns:GetListCritValues" />
  </wsdl:message>
  <wsdl:message name="IService1_GetListCritValues_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListCritValuesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetListGRNTI_InputMessage">
    <wsdl:part name="parameters" element="tns:GetListGRNTI" />
  </wsdl:message>
  <wsdl:message name="IService1_GetListGRNTI_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListGRNTIResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetListExperts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetListExperts" />
  </wsdl:message>
  <wsdl:message name="IService1_GetListExperts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListExpertsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetListExpertsWithCountExpertise_InputMessage">
    <wsdl:part name="parameters" element="tns:GetListExpertsWithCountExpertise" />
  </wsdl:message>
  <wsdl:message name="IService1_GetListExpertsWithCountExpertise_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListExpertsWithCountExpertiseResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetListFOS_InputMessage">
    <wsdl:part name="parameters" element="tns:GetListFOS" />
  </wsdl:message>
  <wsdl:message name="IService1_GetListFOS_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListFOSResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetListProjects_InputMessage">
    <wsdl:part name="parameters" element="tns:GetListProjects" />
  </wsdl:message>
  <wsdl:message name="IService1_GetListProjects_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListProjectsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetListProjectFos_InputMessage">
    <wsdl:part name="parameters" element="tns:GetListProjectFos" />
  </wsdl:message>
  <wsdl:message name="IService1_GetListProjectFos_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListProjectFosResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetListExpertisesForExpert_InputMessage">
    <wsdl:part name="parameters" element="tns:GetListExpertisesForExpert" />
  </wsdl:message>
  <wsdl:message name="IService1_GetListExpertisesForExpert_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListExpertisesForExpertResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetListAllAuthors_InputMessage">
    <wsdl:part name="parameters" element="tns:GetListAllAuthors" />
  </wsdl:message>
  <wsdl:message name="IService1_GetListAllAuthors_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListAllAuthorsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetListAllCatCrit_InputMessage">
    <wsdl:part name="parameters" element="tns:GetListAllCatCrit" />
  </wsdl:message>
  <wsdl:message name="IService1_GetListAllCatCrit_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListAllCatCritResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetListAllCategories_InputMessage">
    <wsdl:part name="parameters" element="tns:GetListAllCategories" />
  </wsdl:message>
  <wsdl:message name="IService1_GetListAllCategories_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListAllCategoriesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetListAllCriterions_InputMessage">
    <wsdl:part name="parameters" element="tns:GetListAllCriterions" />
  </wsdl:message>
  <wsdl:message name="IService1_GetListAllCriterions_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListAllCriterionsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetListAllCritValues_InputMessage">
    <wsdl:part name="parameters" element="tns:GetListAllCritValues" />
  </wsdl:message>
  <wsdl:message name="IService1_GetListAllCritValues_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListAllCritValuesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetListAllExpCrit_InputMessage">
    <wsdl:part name="parameters" element="tns:GetListAllExpCrit" />
  </wsdl:message>
  <wsdl:message name="IService1_GetListAllExpCrit_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListAllExpCritResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetListAllExpertFos_InputMessage">
    <wsdl:part name="parameters" element="tns:GetListAllExpertFos" />
  </wsdl:message>
  <wsdl:message name="IService1_GetListAllExpertFos_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListAllExpertFosResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetListAllExpertiseMark_InputMessage">
    <wsdl:part name="parameters" element="tns:GetListAllExpertiseMark" />
  </wsdl:message>
  <wsdl:message name="IService1_GetListAllExpertiseMark_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListAllExpertiseMarkResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetListAllExpertises_InputMessage">
    <wsdl:part name="parameters" element="tns:GetListAllExpertises" />
  </wsdl:message>
  <wsdl:message name="IService1_GetListAllExpertises_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListAllExpertisesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetListAllExperts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetListAllExperts" />
  </wsdl:message>
  <wsdl:message name="IService1_GetListAllExperts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListAllExpertsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetListAllFiledsOfScience_InputMessage">
    <wsdl:part name="parameters" element="tns:GetListAllFiledsOfScience" />
  </wsdl:message>
  <wsdl:message name="IService1_GetListAllFiledsOfScience_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListAllFiledsOfScienceResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetListAllGRNTI_InputMessage">
    <wsdl:part name="parameters" element="tns:GetListAllGRNTI" />
  </wsdl:message>
  <wsdl:message name="IService1_GetListAllGRNTI_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListAllGRNTIResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetListAllMarks_InputMessage">
    <wsdl:part name="parameters" element="tns:GetListAllMarks" />
  </wsdl:message>
  <wsdl:message name="IService1_GetListAllMarks_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListAllMarksResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetListAllProjectAuthors_InputMessage">
    <wsdl:part name="parameters" element="tns:GetListAllProjectAuthors" />
  </wsdl:message>
  <wsdl:message name="IService1_GetListAllProjectAuthors_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListAllProjectAuthorsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetListAllProjectExpertise_InputMessage">
    <wsdl:part name="parameters" element="tns:GetListAllProjectExpertise" />
  </wsdl:message>
  <wsdl:message name="IService1_GetListAllProjectExpertise_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListAllProjectExpertiseResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetListAllProjectFos_InputMessage">
    <wsdl:part name="parameters" element="tns:GetListAllProjectFos" />
  </wsdl:message>
  <wsdl:message name="IService1_GetListAllProjectFos_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListAllProjectFosResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetListAllProjects_InputMessage">
    <wsdl:part name="parameters" element="tns:GetListAllProjects" />
  </wsdl:message>
  <wsdl:message name="IService1_GetListAllProjects_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListAllProjectsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddNewAuthors_InputMessage">
    <wsdl:part name="parameters" element="tns:AddNewAuthors" />
  </wsdl:message>
  <wsdl:message name="IService1_AddNewAuthors_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddNewAuthorsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddNewCatCrit_InputMessage">
    <wsdl:part name="parameters" element="tns:AddNewCatCrit" />
  </wsdl:message>
  <wsdl:message name="IService1_AddNewCatCrit_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddNewCatCritResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddNewCategories_InputMessage">
    <wsdl:part name="parameters" element="tns:AddNewCategories" />
  </wsdl:message>
  <wsdl:message name="IService1_AddNewCategories_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddNewCategoriesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddNewCriterions_InputMessage">
    <wsdl:part name="parameters" element="tns:AddNewCriterions" />
  </wsdl:message>
  <wsdl:message name="IService1_AddNewCriterions_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddNewCriterionsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddNewCritValues_InputMessage">
    <wsdl:part name="parameters" element="tns:AddNewCritValues" />
  </wsdl:message>
  <wsdl:message name="IService1_AddNewCritValues_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddNewCritValuesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddNewExpCrit_InputMessage">
    <wsdl:part name="parameters" element="tns:AddNewExpCrit" />
  </wsdl:message>
  <wsdl:message name="IService1_AddNewExpCrit_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddNewExpCritResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddNewExpertFos_InputMessage">
    <wsdl:part name="parameters" element="tns:AddNewExpertFos" />
  </wsdl:message>
  <wsdl:message name="IService1_AddNewExpertFos_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddNewExpertFosResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddNewExpertiseMark_InputMessage">
    <wsdl:part name="parameters" element="tns:AddNewExpertiseMark" />
  </wsdl:message>
  <wsdl:message name="IService1_AddNewExpertiseMark_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddNewExpertiseMarkResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddNewExpertises_InputMessage">
    <wsdl:part name="parameters" element="tns:AddNewExpertises" />
  </wsdl:message>
  <wsdl:message name="IService1_AddNewExpertises_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddNewExpertisesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddNewExperts_InputMessage">
    <wsdl:part name="parameters" element="tns:AddNewExperts" />
  </wsdl:message>
  <wsdl:message name="IService1_AddNewExperts_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddNewExpertsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddNewFiledsOfScience_InputMessage">
    <wsdl:part name="parameters" element="tns:AddNewFiledsOfScience" />
  </wsdl:message>
  <wsdl:message name="IService1_AddNewFiledsOfScience_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddNewFiledsOfScienceResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddNewGRNTI_InputMessage">
    <wsdl:part name="parameters" element="tns:AddNewGRNTI" />
  </wsdl:message>
  <wsdl:message name="IService1_AddNewGRNTI_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddNewGRNTIResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddNewMarks_InputMessage">
    <wsdl:part name="parameters" element="tns:AddNewMarks" />
  </wsdl:message>
  <wsdl:message name="IService1_AddNewMarks_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddNewMarksResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddNewProjectAuthors_InputMessage">
    <wsdl:part name="parameters" element="tns:AddNewProjectAuthors" />
  </wsdl:message>
  <wsdl:message name="IService1_AddNewProjectAuthors_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddNewProjectAuthorsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddNewProjectExpertise_InputMessage">
    <wsdl:part name="parameters" element="tns:AddNewProjectExpertise" />
  </wsdl:message>
  <wsdl:message name="IService1_AddNewProjectExpertise_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddNewProjectExpertiseResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddNewProjectFos_InputMessage">
    <wsdl:part name="parameters" element="tns:AddNewProjectFos" />
  </wsdl:message>
  <wsdl:message name="IService1_AddNewProjectFos_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddNewProjectFosResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddNewProjects_InputMessage">
    <wsdl:part name="parameters" element="tns:AddNewProjects" />
  </wsdl:message>
  <wsdl:message name="IService1_AddNewProjects_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddNewProjectsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetTablesForExpertise_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTablesForExpertise" />
  </wsdl:message>
  <wsdl:message name="IService1_GetTablesForExpertise_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTablesForExpertiseResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetListRaitingForExpertise_InputMessage">
    <wsdl:part name="parameters" element="tns:GetListRaitingForExpertise" />
  </wsdl:message>
  <wsdl:message name="IService1_GetListRaitingForExpertise_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListRaitingForExpertiseResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_test_InputMessage">
    <wsdl:part name="parameters" element="tns:test" />
  </wsdl:message>
  <wsdl:message name="IService1_test_OutputMessage">
    <wsdl:part name="parameters" element="tns:testResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_test2_InputMessage">
    <wsdl:part name="parameters" element="tns:test2" />
  </wsdl:message>
  <wsdl:message name="IService1_test2_OutputMessage">
    <wsdl:part name="parameters" element="tns:test2Response" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateExpertCard_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateExpertCard" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateExpertCard_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateExpertCardResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_EditCriterions_InputMessage">
    <wsdl:part name="parameters" element="tns:EditCriterions" />
  </wsdl:message>
  <wsdl:message name="IService1_EditCriterions_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditCriterionsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_EditCritValues_InputMessage">
    <wsdl:part name="parameters" element="tns:EditCritValues" />
  </wsdl:message>
  <wsdl:message name="IService1_EditCritValues_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditCritValuesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_EditFiledsOfScience_InputMessage">
    <wsdl:part name="parameters" element="tns:EditFiledsOfScience" />
  </wsdl:message>
  <wsdl:message name="IService1_EditFiledsOfScience_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditFiledsOfScienceResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_EditProject_InputMessage">
    <wsdl:part name="parameters" element="tns:EditProject" />
  </wsdl:message>
  <wsdl:message name="IService1_EditProject_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditProjectResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Expertise_Expert_InputMessage">
    <wsdl:part name="parameters" element="tns:Expertise_Expert" />
  </wsdl:message>
  <wsdl:message name="IService1_Expertise_Expert_OutputMessage">
    <wsdl:part name="parameters" element="tns:Expertise_ExpertResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddProjects_InputMessage">
    <wsdl:part name="parameters" element="tns:AddProjects" />
  </wsdl:message>
  <wsdl:message name="IService1_AddProjects_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddProjectsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddAuthors_InputMessage">
    <wsdl:part name="parameters" element="tns:AddAuthors" />
  </wsdl:message>
  <wsdl:message name="IService1_AddAuthors_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddAuthorsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddCategories_InputMessage">
    <wsdl:part name="parameters" element="tns:AddCategories" />
  </wsdl:message>
  <wsdl:message name="IService1_AddCategories_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddCategoriesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddExpertises_InputMessage">
    <wsdl:part name="parameters" element="tns:AddExpertises" />
  </wsdl:message>
  <wsdl:message name="IService1_AddExpertises_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddExpertisesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteExpert_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteExpert" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteExpert_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteExpertResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteProject_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteProject" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteProject_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteProjectResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddExpert_InputMessage">
    <wsdl:part name="parameters" element="tns:AddExpert" />
  </wsdl:message>
  <wsdl:message name="IService1_AddExpert_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddExpertResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddExpert_new_InputMessage">
    <wsdl:part name="parameters" element="tns:AddExpert_new" />
  </wsdl:message>
  <wsdl:message name="IService1_AddExpert_new_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddExpert_newResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddCriterions_InputMessage">
    <wsdl:part name="parameters" element="tns:AddCriterions" />
  </wsdl:message>
  <wsdl:message name="IService1_AddCriterions_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddCriterionsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddFiledsOfScience_InputMessage">
    <wsdl:part name="parameters" element="tns:AddFiledsOfScience" />
  </wsdl:message>
  <wsdl:message name="IService1_AddFiledsOfScience_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddFiledsOfScienceResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Authorization_InputMessage">
    <wsdl:part name="parameters" element="tns:Authorization" />
  </wsdl:message>
  <wsdl:message name="IService1_Authorization_OutputMessage">
    <wsdl:part name="parameters" element="tns:AuthorizationResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Gethello_InputMessage">
    <wsdl:part name="parameters" element="tns:Gethello" />
  </wsdl:message>
  <wsdl:message name="IService1_Gethello_OutputMessage">
    <wsdl:part name="parameters" element="tns:GethelloResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetData" message="tns:IService1_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataResponse" message="tns:IService1_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetListAuthors">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetListAuthors" message="tns:IService1_GetListAuthors_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetListAuthorsResponse" message="tns:IService1_GetListAuthors_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetListAuthorsForProject">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetListAuthorsForProject" message="tns:IService1_GetListAuthorsForProject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetListAuthorsForProjectResponse" message="tns:IService1_GetListAuthorsForProject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetListExpertForProject">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetListExpertForProject" message="tns:IService1_GetListExpertForProject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetListExpertForProjectResponse" message="tns:IService1_GetListExpertForProject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetListCatCrit">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetListCatCrit" message="tns:IService1_GetListCatCrit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetListCatCritResponse" message="tns:IService1_GetListCatCrit_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetListCategories">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetListCategories" message="tns:IService1_GetListCategories_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetListCategoriesResponse" message="tns:IService1_GetListCategories_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetListCriterions">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetListCriterions" message="tns:IService1_GetListCriterions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetListCriterionsResponse" message="tns:IService1_GetListCriterions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetListCritValues">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetListCritValues" message="tns:IService1_GetListCritValues_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetListCritValuesResponse" message="tns:IService1_GetListCritValues_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetListGRNTI">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetListGRNTI" message="tns:IService1_GetListGRNTI_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetListGRNTIResponse" message="tns:IService1_GetListGRNTI_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetListExperts">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetListExperts" message="tns:IService1_GetListExperts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetListExpertsResponse" message="tns:IService1_GetListExperts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetListExpertsWithCountExpertise">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetListExpertsWithCountExpertise" message="tns:IService1_GetListExpertsWithCountExpertise_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetListExpertsWithCountExpertiseResponse" message="tns:IService1_GetListExpertsWithCountExpertise_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetListFOS">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetListFOS" message="tns:IService1_GetListFOS_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetListFOSResponse" message="tns:IService1_GetListFOS_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetListProjects">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetListProjects" message="tns:IService1_GetListProjects_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetListProjectsResponse" message="tns:IService1_GetListProjects_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetListProjectFos">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetListProjectFos" message="tns:IService1_GetListProjectFos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetListProjectFosResponse" message="tns:IService1_GetListProjectFos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetListExpertisesForExpert">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetListExpertisesForExpert" message="tns:IService1_GetListExpertisesForExpert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetListExpertisesForExpertResponse" message="tns:IService1_GetListExpertisesForExpert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetListAllAuthors">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetListAllAuthors" message="tns:IService1_GetListAllAuthors_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetListAllAuthorsResponse" message="tns:IService1_GetListAllAuthors_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetListAllCatCrit">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetListAllCatCrit" message="tns:IService1_GetListAllCatCrit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetListAllCatCritResponse" message="tns:IService1_GetListAllCatCrit_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetListAllCategories">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetListAllCategories" message="tns:IService1_GetListAllCategories_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetListAllCategoriesResponse" message="tns:IService1_GetListAllCategories_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetListAllCriterions">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetListAllCriterions" message="tns:IService1_GetListAllCriterions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetListAllCriterionsResponse" message="tns:IService1_GetListAllCriterions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetListAllCritValues">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetListAllCritValues" message="tns:IService1_GetListAllCritValues_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetListAllCritValuesResponse" message="tns:IService1_GetListAllCritValues_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetListAllExpCrit">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetListAllExpCrit" message="tns:IService1_GetListAllExpCrit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetListAllExpCritResponse" message="tns:IService1_GetListAllExpCrit_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetListAllExpertFos">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetListAllExpertFos" message="tns:IService1_GetListAllExpertFos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetListAllExpertFosResponse" message="tns:IService1_GetListAllExpertFos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetListAllExpertiseMark">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetListAllExpertiseMark" message="tns:IService1_GetListAllExpertiseMark_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetListAllExpertiseMarkResponse" message="tns:IService1_GetListAllExpertiseMark_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetListAllExpertises">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetListAllExpertises" message="tns:IService1_GetListAllExpertises_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetListAllExpertisesResponse" message="tns:IService1_GetListAllExpertises_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetListAllExperts">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetListAllExperts" message="tns:IService1_GetListAllExperts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetListAllExpertsResponse" message="tns:IService1_GetListAllExperts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetListAllFiledsOfScience">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetListAllFiledsOfScience" message="tns:IService1_GetListAllFiledsOfScience_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetListAllFiledsOfScienceResponse" message="tns:IService1_GetListAllFiledsOfScience_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetListAllGRNTI">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetListAllGRNTI" message="tns:IService1_GetListAllGRNTI_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetListAllGRNTIResponse" message="tns:IService1_GetListAllGRNTI_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetListAllMarks">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetListAllMarks" message="tns:IService1_GetListAllMarks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetListAllMarksResponse" message="tns:IService1_GetListAllMarks_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetListAllProjectAuthors">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetListAllProjectAuthors" message="tns:IService1_GetListAllProjectAuthors_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetListAllProjectAuthorsResponse" message="tns:IService1_GetListAllProjectAuthors_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetListAllProjectExpertise">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetListAllProjectExpertise" message="tns:IService1_GetListAllProjectExpertise_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetListAllProjectExpertiseResponse" message="tns:IService1_GetListAllProjectExpertise_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetListAllProjectFos">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetListAllProjectFos" message="tns:IService1_GetListAllProjectFos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetListAllProjectFosResponse" message="tns:IService1_GetListAllProjectFos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetListAllProjects">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetListAllProjects" message="tns:IService1_GetListAllProjects_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetListAllProjectsResponse" message="tns:IService1_GetListAllProjects_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddNewAuthors">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddNewAuthors" message="tns:IService1_AddNewAuthors_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddNewAuthorsResponse" message="tns:IService1_AddNewAuthors_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddNewCatCrit">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddNewCatCrit" message="tns:IService1_AddNewCatCrit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddNewCatCritResponse" message="tns:IService1_AddNewCatCrit_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddNewCategories">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddNewCategories" message="tns:IService1_AddNewCategories_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddNewCategoriesResponse" message="tns:IService1_AddNewCategories_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddNewCriterions">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddNewCriterions" message="tns:IService1_AddNewCriterions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddNewCriterionsResponse" message="tns:IService1_AddNewCriterions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddNewCritValues">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddNewCritValues" message="tns:IService1_AddNewCritValues_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddNewCritValuesResponse" message="tns:IService1_AddNewCritValues_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddNewExpCrit">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddNewExpCrit" message="tns:IService1_AddNewExpCrit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddNewExpCritResponse" message="tns:IService1_AddNewExpCrit_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddNewExpertFos">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddNewExpertFos" message="tns:IService1_AddNewExpertFos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddNewExpertFosResponse" message="tns:IService1_AddNewExpertFos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddNewExpertiseMark">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddNewExpertiseMark" message="tns:IService1_AddNewExpertiseMark_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddNewExpertiseMarkResponse" message="tns:IService1_AddNewExpertiseMark_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddNewExpertises">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddNewExpertises" message="tns:IService1_AddNewExpertises_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddNewExpertisesResponse" message="tns:IService1_AddNewExpertises_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddNewExperts">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddNewExperts" message="tns:IService1_AddNewExperts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddNewExpertsResponse" message="tns:IService1_AddNewExperts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddNewFiledsOfScience">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddNewFiledsOfScience" message="tns:IService1_AddNewFiledsOfScience_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddNewFiledsOfScienceResponse" message="tns:IService1_AddNewFiledsOfScience_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddNewGRNTI">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddNewGRNTI" message="tns:IService1_AddNewGRNTI_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddNewGRNTIResponse" message="tns:IService1_AddNewGRNTI_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddNewMarks">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddNewMarks" message="tns:IService1_AddNewMarks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddNewMarksResponse" message="tns:IService1_AddNewMarks_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddNewProjectAuthors">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddNewProjectAuthors" message="tns:IService1_AddNewProjectAuthors_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddNewProjectAuthorsResponse" message="tns:IService1_AddNewProjectAuthors_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddNewProjectExpertise">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddNewProjectExpertise" message="tns:IService1_AddNewProjectExpertise_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddNewProjectExpertiseResponse" message="tns:IService1_AddNewProjectExpertise_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddNewProjectFos">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddNewProjectFos" message="tns:IService1_AddNewProjectFos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddNewProjectFosResponse" message="tns:IService1_AddNewProjectFos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddNewProjects">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddNewProjects" message="tns:IService1_AddNewProjects_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddNewProjectsResponse" message="tns:IService1_AddNewProjects_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTablesForExpertise">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetTablesForExpertise" message="tns:IService1_GetTablesForExpertise_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetTablesForExpertiseResponse" message="tns:IService1_GetTablesForExpertise_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetListRaitingForExpertise">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetListRaitingForExpertise" message="tns:IService1_GetListRaitingForExpertise_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetListRaitingForExpertiseResponse" message="tns:IService1_GetListRaitingForExpertise_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="test">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/test" message="tns:IService1_test_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/testResponse" message="tns:IService1_test_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="test2">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/test2" message="tns:IService1_test2_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/test2Response" message="tns:IService1_test2_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateExpertCard">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UpdateExpertCard" message="tns:IService1_UpdateExpertCard_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdateExpertCardResponse" message="tns:IService1_UpdateExpertCard_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditCriterions">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/EditCriterions" message="tns:IService1_EditCriterions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/EditCriterionsResponse" message="tns:IService1_EditCriterions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditCritValues">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/EditCritValues" message="tns:IService1_EditCritValues_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/EditCritValuesResponse" message="tns:IService1_EditCritValues_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditFiledsOfScience">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/EditFiledsOfScience" message="tns:IService1_EditFiledsOfScience_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/EditFiledsOfScienceResponse" message="tns:IService1_EditFiledsOfScience_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditProject">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/EditProject" message="tns:IService1_EditProject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/EditProjectResponse" message="tns:IService1_EditProject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Expertise_Expert">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Expertise_Expert" message="tns:IService1_Expertise_Expert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/Expertise_ExpertResponse" message="tns:IService1_Expertise_Expert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddProjects">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddProjects" message="tns:IService1_AddProjects_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddProjectsResponse" message="tns:IService1_AddProjects_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddAuthors">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddAuthors" message="tns:IService1_AddAuthors_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddAuthorsResponse" message="tns:IService1_AddAuthors_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddCategories">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddCategories" message="tns:IService1_AddCategories_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddCategoriesResponse" message="tns:IService1_AddCategories_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddExpertises">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddExpertises" message="tns:IService1_AddExpertises_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddExpertisesResponse" message="tns:IService1_AddExpertises_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteExpert">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteExpert" message="tns:IService1_DeleteExpert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteExpertResponse" message="tns:IService1_DeleteExpert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteProject">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteProject" message="tns:IService1_DeleteProject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteProjectResponse" message="tns:IService1_DeleteProject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddExpert">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddExpert" message="tns:IService1_AddExpert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddExpertResponse" message="tns:IService1_AddExpert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddExpert_new">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddExpert_new" message="tns:IService1_AddExpert_new_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddExpert_newResponse" message="tns:IService1_AddExpert_new_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddCriterions">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddCriterions" message="tns:IService1_AddCriterions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddCriterionsResponse" message="tns:IService1_AddCriterions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddFiledsOfScience">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddFiledsOfScience" message="tns:IService1_AddFiledsOfScience_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddFiledsOfScienceResponse" message="tns:IService1_AddFiledsOfScience_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Authorization">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Authorization" message="tns:IService1_Authorization_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AuthorizationResponse" message="tns:IService1_Authorization_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Gethello">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Gethello" message="tns:IService1_Gethello_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GethelloResponse" message="tns:IService1_Gethello_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContract" message="tns:IService1_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContractResponse" message="tns:IService1_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListAuthors">
      <soap:operation soapAction="http://tempuri.org/IService1/GetListAuthors" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListAuthorsForProject">
      <soap:operation soapAction="http://tempuri.org/IService1/GetListAuthorsForProject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListExpertForProject">
      <soap:operation soapAction="http://tempuri.org/IService1/GetListExpertForProject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListCatCrit">
      <soap:operation soapAction="http://tempuri.org/IService1/GetListCatCrit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListCategories">
      <soap:operation soapAction="http://tempuri.org/IService1/GetListCategories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListCriterions">
      <soap:operation soapAction="http://tempuri.org/IService1/GetListCriterions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListCritValues">
      <soap:operation soapAction="http://tempuri.org/IService1/GetListCritValues" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListGRNTI">
      <soap:operation soapAction="http://tempuri.org/IService1/GetListGRNTI" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListExperts">
      <soap:operation soapAction="http://tempuri.org/IService1/GetListExperts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListExpertsWithCountExpertise">
      <soap:operation soapAction="http://tempuri.org/IService1/GetListExpertsWithCountExpertise" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListFOS">
      <soap:operation soapAction="http://tempuri.org/IService1/GetListFOS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListProjects">
      <soap:operation soapAction="http://tempuri.org/IService1/GetListProjects" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListProjectFos">
      <soap:operation soapAction="http://tempuri.org/IService1/GetListProjectFos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListExpertisesForExpert">
      <soap:operation soapAction="http://tempuri.org/IService1/GetListExpertisesForExpert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListAllAuthors">
      <soap:operation soapAction="http://tempuri.org/IService1/GetListAllAuthors" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListAllCatCrit">
      <soap:operation soapAction="http://tempuri.org/IService1/GetListAllCatCrit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListAllCategories">
      <soap:operation soapAction="http://tempuri.org/IService1/GetListAllCategories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListAllCriterions">
      <soap:operation soapAction="http://tempuri.org/IService1/GetListAllCriterions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListAllCritValues">
      <soap:operation soapAction="http://tempuri.org/IService1/GetListAllCritValues" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListAllExpCrit">
      <soap:operation soapAction="http://tempuri.org/IService1/GetListAllExpCrit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListAllExpertFos">
      <soap:operation soapAction="http://tempuri.org/IService1/GetListAllExpertFos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListAllExpertiseMark">
      <soap:operation soapAction="http://tempuri.org/IService1/GetListAllExpertiseMark" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListAllExpertises">
      <soap:operation soapAction="http://tempuri.org/IService1/GetListAllExpertises" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListAllExperts">
      <soap:operation soapAction="http://tempuri.org/IService1/GetListAllExperts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListAllFiledsOfScience">
      <soap:operation soapAction="http://tempuri.org/IService1/GetListAllFiledsOfScience" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListAllGRNTI">
      <soap:operation soapAction="http://tempuri.org/IService1/GetListAllGRNTI" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListAllMarks">
      <soap:operation soapAction="http://tempuri.org/IService1/GetListAllMarks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListAllProjectAuthors">
      <soap:operation soapAction="http://tempuri.org/IService1/GetListAllProjectAuthors" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListAllProjectExpertise">
      <soap:operation soapAction="http://tempuri.org/IService1/GetListAllProjectExpertise" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListAllProjectFos">
      <soap:operation soapAction="http://tempuri.org/IService1/GetListAllProjectFos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListAllProjects">
      <soap:operation soapAction="http://tempuri.org/IService1/GetListAllProjects" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddNewAuthors">
      <soap:operation soapAction="http://tempuri.org/IService1/AddNewAuthors" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddNewCatCrit">
      <soap:operation soapAction="http://tempuri.org/IService1/AddNewCatCrit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddNewCategories">
      <soap:operation soapAction="http://tempuri.org/IService1/AddNewCategories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddNewCriterions">
      <soap:operation soapAction="http://tempuri.org/IService1/AddNewCriterions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddNewCritValues">
      <soap:operation soapAction="http://tempuri.org/IService1/AddNewCritValues" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddNewExpCrit">
      <soap:operation soapAction="http://tempuri.org/IService1/AddNewExpCrit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddNewExpertFos">
      <soap:operation soapAction="http://tempuri.org/IService1/AddNewExpertFos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddNewExpertiseMark">
      <soap:operation soapAction="http://tempuri.org/IService1/AddNewExpertiseMark" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddNewExpertises">
      <soap:operation soapAction="http://tempuri.org/IService1/AddNewExpertises" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddNewExperts">
      <soap:operation soapAction="http://tempuri.org/IService1/AddNewExperts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddNewFiledsOfScience">
      <soap:operation soapAction="http://tempuri.org/IService1/AddNewFiledsOfScience" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddNewGRNTI">
      <soap:operation soapAction="http://tempuri.org/IService1/AddNewGRNTI" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddNewMarks">
      <soap:operation soapAction="http://tempuri.org/IService1/AddNewMarks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddNewProjectAuthors">
      <soap:operation soapAction="http://tempuri.org/IService1/AddNewProjectAuthors" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddNewProjectExpertise">
      <soap:operation soapAction="http://tempuri.org/IService1/AddNewProjectExpertise" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddNewProjectFos">
      <soap:operation soapAction="http://tempuri.org/IService1/AddNewProjectFos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddNewProjects">
      <soap:operation soapAction="http://tempuri.org/IService1/AddNewProjects" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTablesForExpertise">
      <soap:operation soapAction="http://tempuri.org/IService1/GetTablesForExpertise" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListRaitingForExpertise">
      <soap:operation soapAction="http://tempuri.org/IService1/GetListRaitingForExpertise" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="test">
      <soap:operation soapAction="http://tempuri.org/IService1/test" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="test2">
      <soap:operation soapAction="http://tempuri.org/IService1/test2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateExpertCard">
      <soap:operation soapAction="http://tempuri.org/IService1/UpdateExpertCard" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditCriterions">
      <soap:operation soapAction="http://tempuri.org/IService1/EditCriterions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditCritValues">
      <soap:operation soapAction="http://tempuri.org/IService1/EditCritValues" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditFiledsOfScience">
      <soap:operation soapAction="http://tempuri.org/IService1/EditFiledsOfScience" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditProject">
      <soap:operation soapAction="http://tempuri.org/IService1/EditProject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Expertise_Expert">
      <soap:operation soapAction="http://tempuri.org/IService1/Expertise_Expert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddProjects">
      <soap:operation soapAction="http://tempuri.org/IService1/AddProjects" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAuthors">
      <soap:operation soapAction="http://tempuri.org/IService1/AddAuthors" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCategories">
      <soap:operation soapAction="http://tempuri.org/IService1/AddCategories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddExpertises">
      <soap:operation soapAction="http://tempuri.org/IService1/AddExpertises" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteExpert">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteExpert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteProject">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteProject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddExpert">
      <soap:operation soapAction="http://tempuri.org/IService1/AddExpert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddExpert_new">
      <soap:operation soapAction="http://tempuri.org/IService1/AddExpert_new" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCriterions">
      <soap:operation soapAction="http://tempuri.org/IService1/AddCriterions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddFiledsOfScience">
      <soap:operation soapAction="http://tempuri.org/IService1/AddFiledsOfScience" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Authorization">
      <soap:operation soapAction="http://tempuri.org/IService1/Authorization" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Gethello">
      <soap:operation soapAction="http://tempuri.org/IService1/Gethello" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:51335/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>